<%= form_for :income_calculator, url: { action: :new }, method: :get do |f|   %>
  <%= number_field_tag :investment_amount, params[:investment_amount] %>
  <%= f.submit t('.calculate') %>
<% end %>

<% unless @result.nil? %>
  <p> <%= t('.expected_income') %>: <%= @result[:expected] %> </p>
  <p> <%= t('.actual_income') %>: <%= @result[:actual] %> </p>
<% end %>
